* {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    
    background: rgb(238, 241, 238);
    margin: 10px auto;
    position: relative;
  }
  
  
  .chat-container {
    display: flex;
    flex-grow: 1;
    
    margin: 0px auto;
  }
  
  .messages-list {
    flex-grow: 1;
    padding: 10px 0;
    margin: 10px auto;

    width: 500px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;

  }
  
  .messages-list__message__user-name {
    color: darkgray;
    list-style-type: none;
  }
  
  .users-list {
    width: 150px;
    height: 250px;
    
    overflow-y: auto;
    margin: 10px auto;
    padding: 10px 0;
  
    border: 1px solid black;
  }
  
   ul {

    list-style-type: none;
  }
  
  .users-list__user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .actions-container {
    display: flex;
    
    margin: 0px auto;

    width: 650px;
    height: 250px;
    
  }
  
  .input-container {
    flex-grow: 1;
   
    margin: 0px auto;

    
  }
  
  .input-container__textarea {
    width: 650px;
    height: 100px;
    resize: none;
    box-sizing: border-box;
  }
  
  .button-container {
    width: 60px;
    height: 45px;
  }
  
  .button-container__button {
    width: 110px;
    height: 100%;
    
  
    cursor: pointer;
    background: #528ce0;
    border: #2b81af solid 2px;
  }
  